<img class="logo-dark" src="assets/img/join-logo.svg" alt="">


<div class="reset-password-main-container">
  <div class="reset-password-inner-container">
    <img routerLink="/login" src="assets/img/icon-arrow-left.svg">
    <div class="reset-password-header">
      <h1>Reset your password</h1>
      <div class="blue-underline"></div>
      <span>Change your account password here.</span>
    </div>
    <form class="form-container" action="">
      <div class="input-container">
        <input placeholder="New password" type="password">
        <input placeholder="Confirm password" type="password">
      </div>
      <div class="btn-container">
        <button type="submit">Continue</button>
      </div>
    </form>
  </div>
</div>
