<img routerLink="/login" class="logo-dark" src="assets/img/join-logo.svg" alt="">

<div class="reset-password-main-container">
  <div class="reset-password-inner-container">
    <img routerLink="/login" src="assets/img/icon-arrow-left.svg">
    <div class="reset-password-header">
      <h1>Reset your password</h1>
      <div class="blue-underline"></div>
      <span>Change your account password here.</span>
    </div>
    <form [formGroup]="resetPassword" (ngSubmit)="sendPasswordReset()" class="form-container" action="">
      <div class="input-container">
        <input formControlName="password" placeholder="New password" type="password">
        <ng-container *ngIf="resetPassword.controls['password'] as password">
          <ng-container class="input-container" *ngIf="password.dirty || password.touched">
            <ng-container *ngIf="password.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please enter a password.</p>
              <p class="error" *ngIf="errors?.['minlength']">The password must contain atleast
                <b>{{errors?.['minlength'].requiredLength}} characters</b>.</p>
            </ng-container>
          </ng-container>
        </ng-container>
        <input formControlName="confirmedPassword" placeholder="Confirm password" type="password">
        <ng-container *ngIf="resetPassword.controls['confirmedPassword'] as confirmedPassword">
          <ng-container class="input-container" *ngIf="confirmedPassword.dirty || confirmedPassword.touched">
            <ng-container *ngIf="confirmedPassword.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please confirm the password.</p>
              <p class="error" *ngIf="errors?.['minlength']">The password must contain atleast
                <b>{{errors?.['minlength'].requiredLength}} characters</b>.</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="btn-container">
        <button [disabled]="resetPassword.invalid" type="submit">Continue</button>
        <span *ngIf="passwordIsNotEqual" class="error">the entered passwords does not match!</span>
      </div>
    </form>
  </div>
</div>

<div *ngIf="authservice.newPasswordValid" class="feedback">
  <span>your password has been successfully changed!</span>
</div>
