<div class="edit-contact-container">
  <div class="edit-contact-wrapper">
    <div class="edit-contact-dark">
      <img (click)="contactsservice.closeEditContact('editContactForm')" class="cross-white" src="assets/img/icon-cross.png" alt="cross.png">
      <img class="join-logo-white" src="assets/img/logo-white.svg" alt="logo-white.svg">

      <div class="font-wrapper">
        <h1>Edit contact</h1>
        <div class="blue-border"></div>
      </div>

      <div [style.background-color]="detailContact?.color" id="profile-container" class="profile">
        <h1 id="name-characters">{{detailContact?.name | shortName}}</h1>
      </div>
    </div>
    <div class="edit-contact-light">
      <img (click)="contactsservice.closeEditContact('editContactForm')" class="cross-dark" src="assets/img/icon-cross.png" alt="cross.png">
      <form (ngSubmit)="getEditContactData()" [formGroup]="editContactForm" action="">

        <!-- Name Input -->
        <input (change)="inputservice.onChangeName($event.target)" formControlName="name" placeholder="Name" type="text">
        <ng-container *ngIf="editContactForm.controls['name'] as username">
          <ng-container class="input-container" *ngIf="username.dirty || username.touched">
            <ng-container *ngIf="username.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please enter a name.</p>
              <p class="error" *ngIf="errors?.['pattern']">Please enter the first- and lastname <br>e.g. <b>Max
                  Mustermann</b>.</p>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Email Input -->
        <input (change)="inputservice.onChangeEmail($event.target)" formControlName="email" placeholder="Email" type="email">
        <ng-container *ngIf="editContactForm.controls['email'] as email">
          <ng-container class="input-container" *ngIf="email.dirty || email.touched">
            <ng-container *ngIf="email.errors as errors">
              <p class="error" *ngIf="errors?.['required'] || errors?.['pattern']">Please enter a valid email adress
              </p>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Phone Number Input -->
        <input (change)="inputservice.onChangePhoneNumber($event.target)" formControlName="phoneNumber" placeholder="Phone" type="text">
        <ng-container *ngIf="editContactForm.controls['phoneNumber'] as phoneNumber">
          <ng-container class="input-container" *ngIf="phoneNumber.dirty || phoneNumber.touched">
            <ng-container *ngIf="phoneNumber.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please enter a phonenumber </p>
            </ng-container>
          </ng-container>
        </ng-container>
          <button [disabled]="editContactForm.invalid" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
