button {
  position: fixed;
  right: 12px;
  top: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 51px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background: #2a3647;
  color: white;
  font-size: 21px;
  padding: 8px;
}

.main-contact-container {
  margin-top: 80px;
  padding: 36px;
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
}

.character-list {
  height: 10000px; //testing only
}

.single-list {
  width: 100%;
  border-bottom: 1px solid #d1d1d1;

  h2 {
    padding-bottom: 24px;
    padding-left: 24px;
    margin: 0;
    font-size: 21px;
  }
}

.contact {
  display: flex;
  align-items: center;
  padding: 16px;
}

.background-contact-characters {
  border-radius: 100%;
  background-color: lightblue;
  width: 42px;
  height: 42px;

  h2 {
    margin: 0;
    text-align: center;
    line-height: 42px;
  }
}

.contact-info {
  margin-left: 48px;

  h2 {
    font-size: 21px;
    margin-block-end: 8px;
    margin-block-start: 0;
  }

  span {
    color: #007cee;
  }
}
