<button (click)="contactsservice.openAddContact()">New contact
  <img src="assets/img/icons-add-contact.svg" alt="add-contact.svg">
</button>

<div class="main-contact-wrapper">
  <ng-container *ngIf="contactsservice.allContacts.length != 0">
    <div
      *ngIf="!detailView && windowWidth < 1000 || !detailView && windowWidth > 1000 || detailView && windowWidth > 1000"
      class="contactlist-container">
      <div class="character-list">
        <ng-container *ngFor="let character of allCharacters; let c = index">
          <div *ngIf="filterCharacters(character).length > 0" class="single-list">
            <h2>{{character}}</h2>
          </div>
          <ng-container *ngFor="let contact of filterCharacters(character); let i = index">
            <div [class.active]="selectedIndex === i + c"
              (click)="openDetailView(contact.email); handleActiveContact(i + c)" class="contact">
              <div [style.background-color]="contact?.color" class="background-contact-characters">
                <h2 class="contact-characters">{{ contact?.name | shortName}}</h2>
              </div>
              <div class="contact-info">
                <h2>{{contact?.name}}</h2>
                <span>{{contact?.email}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>


      </div>
    </div>
  </ng-container>

  <div *ngIf="detailView" class="contact-detail-container">
    <img (click)="closeDetailView()" src="assets/img/icon-arrow-left.svg" alt="arrow-left.svg">

    <p>Kanban Project Management Tool</p>
    <div class="headline-container">
      <h1>Contacts</h1>
      <div class="blue-border-middle"></div>
      <p>Better with a team</p>
      <div class="blue-border-bottom"></div>
    </div>
    <div class="contact-name-container">
      <div [style.background-color]="contactsservice.allContacts[contactIndex].color"
        class="background-contact-characters-detail">
        <h2 class="contact-characters">{{contactsservice.allContacts[contactIndex].name | shortName }}</h2>
      </div>
      <h2>{{contactsservice.allContacts[contactIndex].name}}</h2>
    </div>
    <div class="info-edit-container">
      <h4 style="margin: 0">Contact Information</h4>
      <div (click)="editContact(contactsservice.allContacts[contactIndex])">
        <img class="edit-desktop" src="assets/img/pencil-no-bg.svg" alt="pencil-no-bg.svg">
        <p style="margin: 0">Edit Contact</p>
      </div>
      <div (click)="deleteContact()">
        <img style="filter: invert(75%) sepia(80%) saturate(3498%) hue-rotate(1deg) brightness(104%) contrast(106%);"
          src="assets/img/trash.png" alt="trash.png">
        <p style="color: #ff3c00; margin: 0;">Delete Contact</p>
      </div>
    </div>
    <div class="email-section">
      <b>Email</b>
      <a
        href="mailto:{{contactsservice.allContacts[contactIndex].email}}">{{contactsservice.allContacts[contactIndex].email}}</a>
    </div>
    <div class="phone-section">
      <b>Phone</b>
      <p>{{contactsservice.allContacts[contactIndex].phoneNumber}}</p>
    </div>
    <img (click)="deleteContact()" class="delete-mobile" src="assets/img/trash.png" alt="trash.png">
    <img (click)="editContact(contactsservice.allContacts[contactIndex])" class="edit-mobile"
      src="assets/img/white-pencil.png" alt="pencil.png">
  </div>

  <h1 *ngIf="contactsservice.allContacts.length == 0" class="zero-contact-placeholder">No Contacts in there</h1>

</div>

<div *ngIf="this.contactsservice.contactEdited" class="feedback">
  <span>Contact succesfully edited</span>
</div>
<div *ngIf="this.contactsservice.contactCreated" class="feedback">
  <span>Contact succesfully created</span>
</div>
<app-add-contact-dialog *ngIf="contactsservice.openAddNewContact"></app-add-contact-dialog>
<app-edit-contact-dialog [detailContact]="contactsservice.allContacts[contactIndex]"
  *ngIf="contactsservice.openEditContact"></app-edit-contact-dialog>
