<button click="openAddContact()">New contact
<img src="assets/img/icons-add-contact.svg" alt="add-contact.svg">
</button>

<div class="main-contact-container">
  <div class="character-list">
    <div class="single-list">
      <h2>A</h2>
    </div>
    <div class="contact">
      <div class="background-contact-characters">
        <h2 class="contact-characters">TS</h2>
      </div>
      <div class="contact-info">
        <h2>Test User</h2>
        <span>test@test.de</span>
      </div>
    </div>
    <div class="contact">
      <div class="background-contact-characters">
        <h2 class="contact-characters">TS</h2>
      </div>
      <div class="contact-info">
        <h2>Test User</h2>
        <span>test@test.de</span>
      </div>
    </div>
  </div>
</div>

