button {
  position: fixed;
  right: 12px;
  top: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 51px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background: #2a3647;
  color: white;
  font-size: 21px;
  padding: 8px;
}

.active {
  background-color: #2a3647 !important;
  color: white;
}

.contactlist-container {
  margin-top: 80px;
  padding: 36px;
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
}

.single-list {
  width: 100%;
  border-bottom: 1px solid #d1d1d1;

  h2 {
    padding-bottom: 24px;
    padding-left: 24px;
    margin: 0;
    font-size: 21px;
  }
}

.contact {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.background-contact-characters {
  border-radius: 100%;
  color: white;
  width: 42px;
  height: 42px;

  h2 {
    margin: 0;
    text-align: center;
    line-height: 42px;
  }
}

.contact-info {
  margin-left: 48px;

  h2 {
    font-size: 21px;
    margin-block-end: 8px;
    margin-block-start: 0;
  }

  span {
    color: #007cee;
  }
}

.contact-detail-container {
  background-color: #f5f5f5;
  position: relative;
  min-height: calc(100vh - 160px);
  padding: 34px 34px;

  > img:first-child {
    width: 20px;
    position: absolute;
    top: 80px;
    right: 42px;
  }

  > p {
    margin: 0;
  }
}

.headline-container {
  h1 {
    font-size: 47px;
    font-weight: 700;
    margin: 16px 0;
  }

  p {
    font-size: 21px;
  }
}

.blue-border-bottom {
  width: 90px;
  border-bottom: 3px solid #29abe2;
}

.blue-border-middle {
  display: none;
}

.contact-name-container {
  margin-top: 32px;
  display: flex;
  align-items: center;

  h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
  }
}

.background-contact-characters-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #007cee; //testing
  border: 3px solid white;
  margin-right: 24px;

  h2 {
    font-size: 27px;
    color: white;
    font-weight: 400;
  }
}

.info-edit-container {
  h4 {
    margin: 24px 0 !important;
    font-size: 21px;
    font-weight: 400;
  }

  div {
    display: none;
  }
}

.email-section {
  display: flex;
  flex-direction: column;
  a {
    color: #007cee;
    margin: 16px 0;
    cursor: pointer;
  }
}

.delete-mobile {
  background-color: #d83200;
  position: absolute;
  bottom: 42px;
  right: 100px;
  padding: 8px;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.edit-mobile {
  background-color: #2a3647;
  position: absolute;
  bottom: 42px;
  right: 42px;
  padding: 8px;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.feedback {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  span {
    color: white;
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  .feedback {
    width: 326px;
    height: 74px;
    span {

      font-size: 21px;
    }
  }
  button {
    position: fixed;
    right: 52px;
    bottom: 64px;
    top: unset;
  }

  .main-contact-wrapper {
    display: flex;
  }

  .contactlist-container {
    margin-left: 250px;
    width: 100%;
  }

  .contact-detail-container {
    margin-left: 250px;
    min-height: calc(100vh - 80px);
    width: 100%;
  }
}

@media (min-width: 1000px) {
  button {
    z-index: 1;
  }

  .contactlist-container {
    margin-left: 250px;
    max-width: 450px;
    margin-top: 0;
    max-height: calc(100vh - 80px);
  }

  .contact-detail-container {
    width: calc(100% - 320px - 250px);
    margin-left: unset;

    > img {
      display: none;
    }

    > p {
      display: none;
    }
  }

  .info-edit-container {
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    margin: 32px 0;
    align-items: center;

    h4 {
      font-size: 21px;
      font-weight: 400;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-right: 8px;
    }

    div {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: fit-content;
    }
  }

  .headline-container {
    display: flex;
    align-items: center;
  }

  .blue-border-middle {
    display: unset;
    width: unset;
    border-bottom: none;
    height: 60px;
    border-right: 3px solid #29abe2;
    margin: 0 32px;
  }

  .blue-border-bottom {
    display: none;
  }

  .delete-mobile {
    display: none;
  }

  .edit-mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .contact-detail-container {
    padding: 37px;
  }

  .headline-container {
    h1 {
      font-size: 61px;
    }

    p {
      font-size: 27px;
    }
  }

  .background-contact-characters-detail {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #007cee; //testing
    border: 3px solid white;
    margin-right: 24px;

    h2 {
      font-size: 47px;
      color: white;
      font-weight: 500;
    }
  }

  .contact-name-container {
    h2 {
      font-size: 40px;
      font-weight: 500;
    }
  }
}

@media (min-width: 1300px) {
  .contact-detail-container {
    padding: 64px;
    width: calc(100% - 450px - 250px);
  }

  .contactlist-container {
    width: 450px;
  }
}
