<div class="summary-main-container">
  <p class="sub-headline">Kanban Project Management Tool</p>
  <div class="header-wrapper">
    <h1>Summary</h1>
    <h4>Everything in a nutshell!</h4>
  </div>
  <div class="blue-line"></div>
  <div class="overview-wrapper">
    <div class="task-overview">
      <div class="task-toprow">
        <div class="tasks-in-board">
          <h1>{{ dataFromUser?.allTasks.length }}</h1>
          <p>Tasks in<br>Board</p>
        </div>
        <div class="tasks-in-progress">
          <h1>{{ taskService.tasksInProgress.length }}</h1>
          <p>Tasks in<br>Progress</p>
        </div>
        <div class="tasks-awaiting-feedback">
          <h1>{{ taskService.tasksAwaitingFeedback.length }}</h1>
          <p>Awaiting Feedback</p>
        </div>
      </div>
      <div class="upcoming-task">
        <div class="urgent-bg">
          <img src="assets/img/icon-urgent-white.svg" alt="urgent-white.svg">
        </div>
        <div class="urgent-wrapper">
          <h1>{{ taskService.urgentTasks.length }}</h1>
          <p>Urgent</p>
        </div>
        <div class="gray-line"></div>
        <div class="date-wrapper">
          <b>{{ taskService.urgentTasks[0]?.date | date  }}</b>
          <p>Upcoming Deadline</p>
        </div>
      </div>
      <div class="task-bottomrow">
        <div class="tasks-in-todo">
          <div class="todo-done-bg">
            <img src="assets/img/white_pencil.svg" alt="pencil-svg">
          </div>
          <div class="todo-wrapper">
            <h1>{{ taskService.tasksTodo.length }}</h1>
            <p>To Do</p>
          </div>
        </div>
        <div class="tasks-in-done">
          <div class="todo-done-bg">
            <img src="assets/img/white-check.svg" alt="check.svg">
          </div>
          <div class="done-wrapper">
            <h1>{{ taskService.tasksDone.length }}</h1>
            <p>Done</p>
          </div>
        </div>
      </div>
    </div>
    <div class="greeting-container">
      <h2>{{ checkCurrentTime() }},</h2>
      <h1>{{ dataFromUser?.displayName }}</h1>
    </div>
  </div>
</div>
