::placeholder {
  color: rgb(215, 215, 215);
  opacity: 1;
}

.logo-dark {
  position: absolute;
  width: 64px;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.signup-main-container {
  background-color: rgb(246, 247, 248);
  padding: 0 24px;
  position: relative;
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-inner-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-left: 64px;
  margin-right: 64px;
  padding: 24px;

  img {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 3;
    cursor: pointer;
    width: 16px;
  }
}

.signup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 47px;
    text-align: center;
    margin-block-end: 16px;
  }

  .blue-underline {
    border-bottom: 3px solid rgb(41, 171, 226);
    width: 100px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  width: 100%;
  max-width: 425px;

  input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 40px 13px 21px;
    margin: 24px 0 0 0;
    height: 41px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 21px;

    &.ng-touched,
    &.ng-dirty {
      &.ng-invalid {
        border: red solid 2px;
      }

      &.ng-valid {
        border: green solid 2px;
      }
    }
  }

  .error {
    color: red;
    margin: 4px;
  }

  p{
    margin: 0;
  }

  input:first-child {
    background-image: url("./../../assets/img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 95%, center;
  }

  input:nth-child(2) {
    background-image: url("./../../assets/img/email_input.svg");
    background-repeat: no-repeat;
    background-position: 95%, center;
  }

  input:last-child {
    background-image: url("./../../assets/img/icon-lock-user.svg");
    background-repeat: no-repeat;
    background-position: 95%, center;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  button {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    background: #2a3647;
    color: white;
    border: none;
  }

  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #e0e0e0;
    color: #666666;
    cursor: not-allowed;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .logo-dark {
    width: 100px;
    height: 100px;
  }
}
