<div class="legal-notice-container">
  <span class="sub-headline">Kanban Project Management Tool</span>
    <h1>Legal Notice</h1>
    <img [routerLink]="lastRoute" src="assets/img/arrow_left_dark.svg" alt="arrow" />
  <div>
    <span><b>Impressum</b></span><br>
    <span>Angaben gemäß § 5 TMG</span>
    <p>
      Florian Rehm <br>
      Alling<br>
      82239 <br>
    </p>
    <p>
      <b>Vertreten durch: </b><br>
      Florian Rehm<br/>
    </p>
    <p>
      <b>Kontakt:</b> <br>
      E-Mail: <a href="mailto:florehm1337@gmail.com">florehm1337@gmail.com</a>
    </p>
    <p>
  </div>
</div>
