<div class="addtask-main-container">
  <span class="sub-headline">Kanban Project Management Tool</span>
  <h1>Add Task</h1>
  <form [formGroup]="addTaskForm" action="">
    <div class="left-form">
      <div class="input-container">
        <span>Title</span>
        <input style="height: 42px" placeholder="Enter a title" type="text">
      </div>

      <div class="input-container">
        <span>Description</span>
        <textarea placeholder="Enter a Description" name="description" id="description" cols="30" rows="4"></textarea>
      </div>

      <div class="input-container">
        <span>Priority</span>
        <div class="prio-container">
          <button (click)="getActiveButton('urgent')" [ngClass]="{'urgent-btn': selectedPrio === 'urgent'}">Urgent
            <img src="assets/img/prio-urgent.svg" alt="prio-urgent.svg">
          </button>
          <button (click)="getActiveButton('medium')" [ngClass]="{'medium-btn': selectedPrio === 'medium'}">Medium
            <img src="assets/img/prio-medium.svg" alt="prio-urgent.svg">
          </button>
          <button (click)="getActiveButton('low')" [ngClass]="{'low-btn': selectedPrio === 'low'}">Low
            <img src="assets/img/prio-low.svg" alt="prio-urgent.svg">
          </button>
        </div>
      </div>

      <div class="input-container">
        <span>Due date</span>
        <input formControlName="presentDate" id="datePicker" placeholder="{{date}}" type="date"
          min="{{this.date | date:'yyyy-MM-dd'}}">
      </div>
    </div>
    <div class="right-form">
      <div class="input-container">
        <span>Category</span>
        <div [@openCategories]="categoriesOpened ? 'end' : 'start'" (click)="openCategories()"
          [ngClass]="{'full-height': categoriesOpened === true}" class="drop-down-container">
          <div *ngIf="newCategoryOpened" class="new-category-container">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="newCategoryValue"
              style="width: 100%; font-size: 21px !important;" type="text">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="newCategoryColorValue" class="color-input"
              type="color">
            <div class="new-category-icon-container">
              <img (click)="cancelCategory()" src="assets/img/icons-cancel.svg" alt="cancel.svg">
              <img (click)="addCategory()" src="assets/img/icon-check.png" alt="check.png">
            </div>
          </div>
          <div *ngIf="!newCategoryOpened">
            <span *ngIf="!categorySelected">Select task category</span>
            <img *ngIf="!categorySelected" src="assets/img/icon-arrow-down-scroll.png" alt="arrow-bottom.svg">
            <span *ngIf="categorySelected">{{ choosenCategory?.name }}</span>
            <div *ngIf="categorySelected" class="category-color" [style.background-color]="choosenCategory?.color">
            </div>
          </div>
          <div *ngIf="categoriesOpened && !newCategoryOpened" class="contacts-list">
            <span class="new-category-font" (click)="showInputField()">New Category</span>
            <ng-container *ngFor="let category of allCategories; let i = index">
              <div (click)="chooseCategory(i)" class="category">
                <div>
                  <span class="category-name">{{ category.name }}</span>
                  <div class="category-color" [style.background-color]="category.color"></div>
                </div>

                <img (click)="deleteCategory(i)" class="category-trash" src="/assets/img/trash.png" alt="trash.png">
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="input-container">
        <span>Assigned to</span>
        <div [@openCategories]="asigneesOpened ? 'end' : 'start'" [ngClass]="{'full-height': asigneesOpened === true}"
          class="drop-down-container">
          <div (click)="openAssignees()">
            <span>Select contacts to assign</span>
            <img src="assets/img/icon-arrow-down-scroll.png" alt="arrow-bottom.svg">
          </div>
          <div *ngIf="asigneesOpened" class="contacts-list">
            <ng-container *ngFor="let contact of allContacts; let i = index">
              <div (click)="handleChecked(i,$event)" class="assignee-container">
                <span [ngClass]="{'checked-contacts': contact.checked}">{{ contact.name }}</span>
                <input [checked]="contact.checked" (click)="handleChecked(i,$event)" id="contact{{i}}" type="checkbox">
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="input-container">
        <span>Subtasks</span>
        <div class="subtask-container">
          <input [(ngModel)]="subtaskInput" [ngModelOptions]="{standalone: true}" placeholder="Add new subtask"
            type="text">
          <img (click)="addSubtask()" src="assets/img/icon-add-plus.svg" alt="icon-add.svg">
        </div>
        <ng-container *ngFor="let subtask of createdSubtasks; let i = index">
          <div class="subTask">
            <div>
              <input type="checkbox" id="subtask{{i}}">
              <span>{{ subtask }}</span>
            </div>
            <img (click)="deleteSubtask(i)" class="category-trash" src="/assets/img/trash.png" alt="trash.png">
          </div>
        </ng-container>

      </div>

      <div class="desktop-btn-container">
        <button>Clear
          <img (click)="cancelTask()" src="assets/img/icons-cancel.svg" alt="cancel.svg">
        </button>
        <button (click)="createTask()">Create Task
          <img src="assets/img/icon-check.png" alt="check.svg">
        </button>

      </div>
    </div>

    <button (click)="createTask()" class="create-btn-mobile" *ngIf="router.url == '/addtask'" type="submit">Create
      <img src="assets/img/icon-check.png" alt="check.svg">
    </button>
  </form>
</div>
