<div class="addtask-main-container">
  <span class="sub-headline">Kanban Project Management Tool</span>
  <h1>Add Task</h1>
  <form #createNewContact (ngSubmit)="createNewTask()" [formGroup]="addTaskForm" action="">
    <div class="left-form">
      <div class="input-container">
        <span>Title</span>
        <input (change)="inputservice.onChangeTitle($event.target)" formControlName="title" style="height: 42px" placeholder="Enter a title" type="text">
        <ng-container *ngIf="addTaskForm.controls['title'] as title">
          <ng-container class="input-container" *ngIf="title.dirty || title.touched">
            <ng-container *ngIf="title.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please enter a title.</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div class="input-container">
        <span>Description</span>
        <textarea (change)="inputservice.onChangeDescription($event.target)" formControlName="description" placeholder="Enter a Description" name="description" id="description"
          cols="30" rows="4"></textarea>
        <ng-container *ngIf="addTaskForm.controls['description'] as description">
          <ng-container class="input-container" *ngIf="description.dirty || description.touched">
            <ng-container *ngIf="description.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please enter a description.</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div class="input-container">
        <span>Priority</span>
        <div class="prio-container">
          <button type="button" (click)="getActiveButton('urgent')" [ngClass]="{'urgent-btn': selectedPrio === 'urgent'}">Urgent
            <img src="assets/img/prio-urgent.svg" alt="prio-urgent.svg">
          </button>
          <button type="button" (click)="getActiveButton('medium')" [ngClass]="{'medium-btn': selectedPrio === 'medium'}">Medium
            <img src="assets/img/prio-medium.svg" alt="prio-urgent.svg">
          </button>
          <button type="button" (click)="getActiveButton('low')" [ngClass]="{'low-btn': selectedPrio === 'low'}">Low
            <img src="assets/img/prio-low.svg" alt="prio-urgent.svg">
          </button>
        </div>
        <p class="error" *ngIf="selectedPrio == '' && formSubmitted">Please select a priority.</p>
      </div>

      <div class="input-container">
        <span>Due date</span>
        <input (change)="inputservice.onChangeDate($event.target)" formControlName="date" id="datePicker" placeholder="{{date}}" type="date"
          min="{{this.date | date:'yyyy-MM-dd'}}">
        <ng-container *ngIf="addTaskForm.controls['date'] as date">
          <ng-container class="input-container" *ngIf="date.dirty || date.touched">
            <ng-container *ngIf="date.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please select a date.</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="right-form">
      <div class="input-container">
        <span>Category</span>
        <div [@openCategories]="categoriesOpened ? 'end' : 'start'" (click)="openCategories()"
          [ngClass]="{'full-height': categoriesOpened === true}" class="drop-down-container">
          <div *ngIf="newCategoryOpened" class="new-category-container">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="newCategoryValue"
              style="width: 100%; font-size: 21px !important;" type="text">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="newCategoryColorValue" class="color-input"
              type="color">
            <div class="new-category-icon-container">
              <img (click)="cancelCategory()" src="assets/img/icons-cancel.svg" alt="cancel.svg">
              <img (click)="addCategory()" src="assets/img/icon-check.png" alt="check.png">
            </div>
          </div>
          <div *ngIf="!newCategoryOpened">
            <span *ngIf="!categorySelected">Select task category</span>
            <img *ngIf="!categorySelected" src="assets/img/icon-arrow-down-scroll.png" alt="arrow-bottom.svg">
            <span *ngIf="categorySelected">{{ choosenCategory?.name }}</span>
            <div *ngIf="categorySelected" class="category-color" [style.background-color]="choosenCategory?.color">
            </div>
          </div>
          <div *ngIf="categoriesOpened && !newCategoryOpened" class="contacts-list">
            <span class="new-category-font" (click)="showInputField()">New Category</span>
            <ng-container *ngFor="let category of allCategories; let i = index">
              <div (click)="chooseCategory(i)" class="category">
                <div>
                  <span class="category-name">{{ category.name }}</span>
                  <div class="category-color" [style.background-color]="category.color"></div>
                </div>

                <img (click)="deleteCategory(i)" class="category-trash" src="/assets/img/trash.png" alt="trash.png">
              </div>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="addTaskForm.controls['category'] as category">
          <ng-container class="input-container" *ngIf="category.dirty || category.touched">
            <ng-container *ngIf="category.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please select a category.</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div class="input-container">
        <span>Assigned to</span>
        <div [@openCategories]="asigneesOpened ? 'end' : 'start'" [ngClass]="{'full-height': asigneesOpened === true}"
          class="drop-down-container">
          <div (click)="openAssignees()">
            <span>Select contacts to assign</span>
            <img src="assets/img/icon-arrow-down-scroll.png" alt="arrow-bottom.svg">
          </div>
          <div *ngIf="asigneesOpened" class="contacts-list">
            <ng-container *ngFor="let contact of allContacts; let i = index">
              <div (click)="handleChecked(i,$event)" class="assignee-container">
                <span [ngClass]="{'checked-contacts': contact.checked}">{{ contact.name }}</span>
                <input [checked]="contact.checked" (click)="handleChecked(i,$event)" id="contact{{i}}" type="checkbox">
              </div>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="addTaskForm.controls['assignees'] as assignees">
          <ng-container class="input-container" *ngIf="assignees.dirty || assignees.touched">
            <ng-container *ngIf="assignees.errors as errors">
              <p class="error" *ngIf="errors?.['required']">Please select assignees.</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div class="input-container">
        <span>Subtasks</span>
        <div class="subtask-container">
          <input [(ngModel)]="subtaskInput" [ngModelOptions]="{standalone: true}" placeholder="Add new subtask"
            type="text">
          <img (click)="addSubtask()" src="assets/img/icon-add-plus.svg" alt="icon-add.svg">
        </div>
        <ng-container *ngFor="let subtask of createdSubtasks; let i = index">
          <div (click)="handleSubtaskCheck(i, $event)" class="subTask">
            <div>
              <input [checked]="subtask.checked" type="checkbox" id="subtask{{i}}">
              <span [ngClass]="{'checked-contacts': subtask.checked}">{{ subtask.subtask }}</span>
            </div>
            <img (click)="deleteSubtask(i)" class="category-trash" src="/assets/img/trash.png" alt="trash.png">
          </div>
        </ng-container>

      </div>

      <div class="desktop-btn-container">
        <button type="button" (click)="cancelTask()">Clear
          <img src="assets/img/icons-cancel.svg" alt="cancel.svg">
        </button>
        <button type="submit">Create Task
          <img src="assets/img/icon-check.png" alt="check.svg">
        </button>

      </div>
    </div>

    <button type="submit" class="create-btn-mobile" *ngIf="router.url == '/addtask'">Create
      <img src="assets/img/icon-check.png" alt="check.svg">
    </button>
  </form>
</div>
