::placeholder {
  color: rgb(215, 215, 215);
  opacity: 1;
}

.logo-dark {
  position: absolute;
  width: 64px;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.forgot-password-main-container {
  position: relative;
  width: auto;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
  padding: 0 24px;
}

.forgot-password-inner-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-left: 64px;
  margin-right: 64px;
  padding: 24px;

  img {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 3;
    cursor: pointer;
    width: 16px;
  }
}

.forgot-password-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 47px;
    text-align: center;
    margin-block-end: 16px;
  }

  span {
    text-align: center;
    padding-top: 32px;
    font-size: 21px;
  }

  .blue-underline {
    border-bottom: 3px solid rgb(41, 171, 226);
    width: 100px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
  width: 100%;
  max-width: 425px;

  input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    height: 41px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 21px;
    background-image: url("~src/assets/img/email_input.svg");
    background-repeat: no-repeat;
    background-position: 95%, center;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  button {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    background: #2a3647;
    color: white;
    border: none;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .logo-dark {
    width: 100px;
    height: 100px;
  }
}
