<img class="logo-dark" src="assets/img/join-logo.svg" alt="">


<div class="forgot-password-main-container">
  <div class="forgot-password-inner-container">
    <img routerLink="/login" src="assets/img/icon-arrow-left.svg">
    <div class="forgot-password-header">
      <h1>I forgot my password</h1>
      <div class="blue-underline"></div>
      <span>Don't worry! We will send you an email with the instructions to reset your password.</span>
    </div>
    <form (ngSubmit)="sendEmail()" class="form-container" action="">
      <div class="input-container">
        <input name="email" [(ngModel)]="email" placeholder="Email" type="email">
      </div>
      <div class="btn-container">
        <button type="submit">Send me the email</button>
      </div>
    </form>
  </div>
</div>
